dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
.data/users.sqlite
.data/notes.sqlite
.data/notes.sqlite-shm
.data/notes.sqlite-wal
.data/app.sqlite
.data.bak.1758430062
.data.bak.1759464675
.data.bak.1759464819
.data.bak.1759464887
.data.bak.1759464903
.data.bak.1759473230
.data.bak.1760741865
.data.bak.1761522744
.data_1760563757
.data_Thu Oct 16 08:29:52 AM AEDT 2025
public/users/ryan.png
public/users/shai.png
.data.bak.1761538799
.data.bak.1761538811
.data.bak.1761538881
.data.bak.1761538900
assets
.data.bak.1761882727
.data.bakFri Oct 31 13:08:44 AEDT 2025
