version: "3.8"

services:
  lilium:
    build: .
    container_name: lilium
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Australia/Sydney
    volumes:
      - ./.data:/app/.data:Z
      - ./${ASSETS_DIR}:/app/${ASSETS_DIR}:Z
    security_opt:
      - label=type:container_runtime_t
